*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Livvic', sans-serif;
    background-color: rgb(138, 205, 248);
}

.background{
    width: 100%;
    height: 100%;
}

.headerStudio{
    image-orientation: from-image;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

.titulo{
    text-align: center;
    padding-left: 25%;
}

.logoImagem{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    padding-right: 25%;
}

.headerTxt{
    display: flex;
}

.cards img{
    max-width:200px;
    max-height:300px;
    width: 100%;
    height: 300px;
    object-fit:cover;
}
 
.cards{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;
    text-align: center;
    color: black;   
}

.img-poster{
    
}

#cards-filmes img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: all linear 0.3s;
}

#cards-filmes img{
    text-align: center;
}

#card-characters img{
    max-width:200px;
    max-height:300px;
    width: 100%;
    height: 200px;
    object-fit:cover;
}

.menu {
    list-style:none;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    margin: auto;
    background-color: rgb(32, 139, 177);
}

.itens-menu{
    color: white;
    text-decoration: none;
    font-size: 20pt;
}

.select-options{
    width: 100%;
    display: flex;
    justify-content: center;
}

.select{
  
   margin-right: 4%;
}

.filmes{
    display: flex;
    justify-content: space-around;
}

.informacoes{
    width: 65vw;
}

.modal{
    position: fixed;
    visibility: hidden;
}

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer-inf{
    background-color: rgba(127, 206, 60);
    color: white;
    
}
.git-link{
    display: flex;
    justify-content: center;
}

a:link{
    text-decoration: none;
}

.name-footer {
    color: white;    
    font-size: 15pt;
    text-align: center;
}

