* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: rgb(138, 205, 248);
}

.background {
  width: 100%;
  height: 100%;
}

.headerStudio {
  image-orientation: from-image;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.titulo {
  text-align: center;
  padding-left: 24%;
}

.logoImagem {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  padding-right: 25%;
}

.headerTxt {
  display: flex;
}

.title-about {
  color: rgb(32, 139, 177);
  margin-left: 5%;
}

.line {
  width: 95%;
  margin-left: 2%;
}

.text {
  margin: 1%;
}
.text-about {
  width: 90%;
  align-content: center;
  font-size: 14pt;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.list-about {
  margin-left: 8%;
  margin-bottom: 4%;
  font-size: 14pt;
}

.cards img {
  max-width: 200px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 10%;
}

.cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: black;
  font-weight: bold;
}

.titulo-filmes :hover {
  font-size: 92%;
  padding-bottom: 10%;
  transform: scale(1.1);
}

.character-name {
  font-size: 92%;
  padding-bottom: 10%;
}

#cards-filmes img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all linear 0.3s;
  cursor: pointer;
}
#card-characters img:hover {
  max-width: 200px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all linear 0.4s;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  margin: auto;
  background-color: rgb(32, 139, 177);
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.itens-menu {
  color: white;
  text-decoration: none;
  font-size: 20pt;
}

.select-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.select {
  margin-right: 4%;
}

.filmes {
  display: flex;
  justify-content: space-around;
}

.informacoes {
  box-sizing: border-box;
}
.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.contact-us {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.jessica-michele {
  padding-top: 2%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-left: 35%;
}

.contacts {
  background-color: rgb(32, 139, 177);
  width: 50%;
  border-radius: 10px;
  padding-top: 2%;
  padding-right: 5%;
  padding-bottom: 3%;
  padding-left: 5%;
  margin: 5%;
  font-weight: bolder;
}

.footer-inf {
  background-color: rgba(127, 206, 60);
  color: white;
}
.git-link {
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

.name-footer {
  color: white;
  font-size: 15pt;
  text-align: center;
}

.box {
  border: 5px solid rgb(32, 139, 177);
  height: 100px;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
